
.task-disable {
  animation : dim 0.2s linear forwards; 
}

.task-strike{
  position: relative;
}

.task-strike:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  background: black;
  animation: strike 0.2s linear forwards;
}

.dotted-line{
 border: 1px dashed theme(colors.slate.300); 
 height: 3rem;
 width: 1px;
}

.dot {
 height: 0.75rem;
  width: 0.75rem;
  background-color: white;
  border: 1px solid theme(colors.slate.500);
  border-radius: 50%;
  display: inline-block;
}

.line{
 border: 1px solid theme(colors.slate.300); 
 height: 100%;
 width: 1px;
}

.DragHandle {
  display: flex;
  width: 12px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  cursor: var(--cursor, pointer);
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.hide
{
  display: none;
}

.task:hover .hide
{
  display: block;
}

@keyframes strike {
  from {
    width: 0;
    color: rgb(148 163 184);
  }
  to {
    width: 100%;
    color: rgb(148 163 184);
  }
}

@keyframes dim {
  from {
    
  }
  to {
    color: rgb(148 163 184);
  }
}
